.container {
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    padding: 40px 40px;
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  .link {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}
label {
  font-weight: 700;
}
