.home {
  z-index: 99;
}

.header {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 500;
}

.login-button {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 600px) and (max-width: 990px) {
  .container {
    justify-content: flex-end;
  }
}

.sticky-space {
  width: 100%;
  position: sticky;
  top: 94px;
}

.homeButton {
  text-align: left !important;
}

.container {
  display: flex;
}

.content {
  z-index: 100;
  margin-top: 64px;
}
